venv/
___command_info/
___convo_info/
___workflow_contexts/

# Run result artifacts
results/**

#Run result artifacts
results/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
examples/fastworkflow.passwords.env
